
html, body {
    min-width: 100%;
    min-height: 100%;
    background-color: #1b1b1d;
    font-family: 'Fira Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    height: 640px;
    background: top center url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg");
    background-size: 100% auto;
    position: relative;
}

.header-container::after {
    display: block;
    content: '';
    height: 228px;
    background-image: linear-gradient(to top, #1b1b1d 63%, rgba(0, 0, 0, 0));
    position: absolute;
    width: 100%;
    bottom: 0;
}

.header-content {
    padding-left: 80px;
    padding-top: 250px;
    color: white;
    position: relative;
    z-index: 1;
}

body.container-fluid {
    /*width: 100%;*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-size: auto 50%;*/

    /*background: -webkit-linear-gradient(transparent, black 30%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0 50%; !* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 *!*/
    /*background: -moz-linear-gradient(transparent, black 30%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0% 50%; !* For Firefox (3.6 to 15) *!*/
    /*background: -o-linear-gradient(transparent, black 30%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0% 50%; !* For old Opera (11.1 to 12.0) *!*/
    /*background: linear-gradient(transparent, black 30%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0% 50%; !* Standard syntax; must be last *!*/

    /*background-position: bottom;*/
    /*background-position: top;*/
    /*background-size: 100%;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    /*font-weight: 400;*/
    /*height: 100%;*/
    color: #ffffff;


    /*linear-gradient(transparent 10%, black 50%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0% 50%*/

    /*width: 100%;*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-size: auto 50%;*/

    /*background-image: -webkit-linear-gradient(transparent,*/
    /*black 30%), url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg"); !* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 *!*/
    /*background-image: -moz-linear-gradient(transparent,*/
    /*black 30%), url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg"); !* For Firefox (3.6 to 15) *!*/
    /*background-image: -o-linear-gradient(transparent,*/
    /*black 30%), url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg"); !* For old Opera (11.1 to 12.0) *!*/
    /*background-image: linear-gradient(transparent,*/
    /*black 30%), url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg"); !* Standard syntax; must be last *!*/
    /*background-repeat: no-repeat, no-repeat;*/
    /*background-origin: content-box;*/
    /*background-position-y: 100%, 0;*/
    /*background-size: 100% 80%, auto 50%;*/

    /*background-position: bottom;*/
    /*background-position: top;*/
    /*background-size: auto 100%;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    /*font-weight: 400;*/
    /*height: 100%;*/
    /*color: #ffffff;*/

}



h2 {
    margin: 0;
}


/*///////// TODO inheriter color et mettre le Fira ds le body*/

/*PAGE*/
header, .page, footer {
    padding-left: 10%;
    padding-right: 10%;
}



/*HEADER**************************/

/*NAVBAR*/

.navbar {
    padding: 0;
    padding-top: 25px;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(100%);
}

.navbar-brand {
    width: 163px;
    height: 65px;
    display: flex;
    justify-content: center;
}
.navbar-brand img {
    width: 100%;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f7b436;
}

/*LOGO BLABLAMOVIE*/
.logo {
    width: 163px;
    height: 65px;
    object-fit: contain;
}

.logo>.navbar-brand img {
    position: relative;
}


/*TODO: Rendre transparent le hover quand on clique sur la loupe de recherche .search-logo*/
/*TODO: Effacer le RECHERCHER dans la search bar*/
/*SEARCH BUTTON*/
.search-logo {
    width: 14px;
    height: auto;
    filter: invert(100%);
}

.search-logo:hover {
    background-color: transparent;
}

.btn-outline-success {
    border: none;
}

.btn-outline-success:hover {
    background: none;
}

.form-inline {
    margin-right: 0;
    background-color: transparent;
}

.form-control {
    background-color: transparent;
    border: transparent;
}

.form-control:hover {
    background-color: transparent;

}

    /*CONTENT*/
.page{
    display: none;
    flex-direction: column;
    align-items: stretch;
}


#bandeau-presentation {

}

#bandeau-presentation h1 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}
#bandeau-presentation h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 200;
}
#bandeau-presentation p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    line-height: 36px;
    letter-spacing: normal;
}

.yellow-line {
    width: 4px;
    height: 60px;
    border-radius: 2px;
    background-color: #f7b436;
    margin-top: 8px;
    margin-right: 15px;
}

.hook-line {
    display: flex;
    position: relative;
}
.hook-p {
    width: 356px;
}


/*TODO : ARRANGER LE SPASH*/
.splash {
    /*width: 523px;*/
    /*height: 240px;*/
    object-fit: contain;
    /*background-image: linear-gradient(247deg, #fcdb66 78%, #f7b436 20%);*/
    display: flex;
    justify-content: flex-end;
    padding-right: 12%;
    position: relative;
}

.splach img {
    margin-top: 15%;
    position: absolute;
    z-index: 3;
}




/*Page 2**********************/

.loading {
    position: absolute;
    z-index: 2;
}

#movies-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    position: relative;
    margin-top: -5em;
}

.movie_item{
    width: 30%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.movie_item:not(movie_year){
    width: 30%;
    max-height: 80%;
    color: #1b1b1d;
    text-align: center;

}

.poster {
    display: block;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.movie_year {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 1rem ;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    text-shadow: 1px 1px 2px #000000;
    align-content: flex-end;
    bottom: 0;

}

.movie_title {
    background: border-box #ffffff;
    border-radius: 0 0 4px 4px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    width: 100%;
    height: 4em;
    padding-top: 1.5em;
    padding-left: 1em;
    text-align: left;
}

.m_view {
    display: flex;
    flex-direction: column;
    position: relative;
}

.page-content {
    margin-top: -150px;
    position: absolute;
    z-index: 3;
    color: #f2f2f2;
}
.m_info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.m_order {
    position: absolute;
    width: 60px;
    height: 40px;
    border-radius: 0 100px 100px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 11px 0 rgba(0, 0, 0, 0.14);
    background-color: #f2f2f2;
    z-index: 1;
    top: 15%;
    left: 0;

    /*TODO: faire le count automatique du classement des films et l'incrémentation dynamique du nombre de votes par films et le nombre de votes total'*/
/*    counter-reset: section;*/
}

.orderNb{
    position: absolute;
    right: 50%;
    top: 15%;
    width: 14px;
    height: 37px;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1b1b1d;


    /*counter-increment: section;*/
    /*content:  counter(section);*/

}


.m_votes {
    position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;
    z-index: 1;
    right: 0;
    left: auto;
    top: -20px;

}

.m_votes:checked {
    background-color: #f7b436;
}

.like {
    left: 10%;
    top: -25%;
    width: 40px;
    position: absolute;
}

.likeNb {
    right: 10%;
    top: 20%;
    position: absolute;
}

    /*PAGINATION*/

.page-item:first-child .page-link {
    border-radius: 16px 18px;
}

.page-item:last-child .page-link {

    border-radius: 16px 18px;

}

.spanDot {
    color: #f2f2f2;
}


/*Page 3 : Historique*******************/
/*Page 4 : Connexion*******************/

/*Page 5 : Inscription*******************/
    /*Page 9 : POPUP INSCRIPTION*/
#popup-inscription {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
}

#popup-inscription::after {
    content: '';
    display: block;

}

#popup-inscription.popup-active {
    display: flex;
}

#popup-inscription > div {
    background-color: white;
    padding: 25px;
    border-radius: 7px;
}

/*FOOTER**********************/
footer {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 10em;*/
}


footer .navbar .navbar-nav .nav-link {
    color: rgba(193, 193, 193, 0.57)
}

/*TODO: Envlever le menu burger dans la nav du footer quand on rétrécit l'écran'*/
/*footer.navbar-light .navbar-toggler-icon {*/
/*    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");*/
/*}*/
.collapse:not(.show) {
    display: flex;
}


.logos-medias {
    width: 14px;
    display: flex;
    flex-grow: 0.3;
    justify-content: space-between;
}

.logo-medias img:hover {
    opacity:0.7;
    background-color: #f7b436;
    border-radius: 10px;

}

a.page-link {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
}

a#pagelinkprev, a#pagelinknext {
    border-radius: 16px / 18px;
    margin: 0 2em 0 2em;
}


a.page-link:hover {
    border-color: #000;
    border-radius: 16px / 18px;
    background-color: #000000;
    color: #f7b436;
}


/*CONNEXION INSCRIPTION BUTTONS*/
.button {
    width: 75px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.button-connexion {
    color: #f7b436;
    width: 120px;
    height: 36px;
    border-radius: 20px;
    border: solid 2px #f7b436 ;
    background-image: linear-gradient(to top, #1b1b1d 63%, rgba(0, 0, 0, 100))
}

.button-connexion:hover {
    color: #000000;
    background-image: none;
    background-color: #f2f2f2;
    border: transparent;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}


.button-connexion:active {
    color: #000000;
    background-image: none;
    background-color: #f2f2f2;
    border: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-inscription {
    color: #ffffff;
    width: 130px;
    height: 36px;
    border-radius: 20px;
    background-color: #f7b436;
    border: transparent;
}

.button-inscription:hover {
    color: #000000;
    background-color: #f2f2f2;
    border: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.button-inscription:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: #000000;
    background-color: #f2f2f2;
    border: transparent;
}




/*Page 6 : Inscription*******************/

/*Page 7 : Accueil connecté*******************/

/*Page 8 : Contact*******************/


/*TODO: Ajuster en largeur  la ligne de border top de la footbar*/
/*FOOTBAR**********************/
#footlink {
    border-top: rgba(193, 193, 193, 0.57) solid;
    border-top-width: thin;
    margin-top: 4em;
    margin-bottom: 2em;
    width: 100%;
}



#footlink>.logo>.navbar-brand img {
    width: 126px;
    height: 51px;
    object-fit: contain;
}




/*FLATICON*/
#flaticon {
    font-size: 9px;
    text-align: right;
    color: #f2f2f2;
}






.active {
    color: #f7b436 !important;
    font-weight: bold;
}







/*!*MESSAGE D'ERREUR*/
/*    https://developer.mozilla.org/fr/docs/Web/Guide/HTML/Formulaires/Validation_donnees_formulaire*/
/**!*/
/*!* Voici notre composition pour les champs invalides *!*/
/*input:invalid{*/
/*    border-color: #900;*/
/*    background-color: #FDD;*/
/*}*/

/*input:focus:invalid {*/
/*    outline: none;*/
/*}*/

/*!* Voici la mise en forme pour les erreurs *!*/
/*.error {*/
/*    width  : 100%;*/
/*    padding: 0;*/

/*    font-size: 80%;*/
/*    color: white;*/
/*    background-color: #900;*/
/*    border-radius: 0 0 5px 5px;*/

/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*.error.active {*/
/*    padding: 0.3em;*/
/*}*/
/*!*FIN MESSAGE*!*/



