
html, body {
    min-width: 100%;
    min-height: 100%;
    background-color: #1b1b1d;
    font-family: 'Fira Sans', sans-serif;
}

body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    /*height: 640px;*/
    height: 667px;
    background: top center url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg");
    background-size: 100% auto;
    position: relative;
}

@media screen and (max-width: 1150px) {
    .header-container {
        background-size: auto 100%;
    }
}

.header-container::after {
    display: block;
    content: '';
    height: 10%;
    background-image: linear-gradient(to top, #1b1b1d 63%, rgba(0, 0, 0, 0));
    position: absolute;
    width: 100%;
    bottom: 0;

}

.header-content {
    padding-left: 80px;
    /*padding-top: 250px;*/
    padding-top: 219px;
    color: white;
    position: relative;
    z-index: 1;
}

.winner {
    padding-left: 10%;
    padding-right: 10%;
}

body.container-fluid {
    /*width: 100%;*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-size: auto 50%;*/

    /*background: -webkit-linear-gradient(transparent, black 30%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0 50%; !* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 *!*/
    /*background: -moz-linear-gradient(transparent, black 30%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0% 50%; !* For Firefox (3.6 to 15) *!*/
    /*background: -o-linear-gradient(transparent, black 30%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0% 50%; !* For old Opera (11.1 to 12.0) *!*/
    /*background: linear-gradient(transparent, black 30%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0% 50%; !* Standard syntax; must be last *!*/

    /*background-position: bottom;*/
    /*background-position: top;*/
    /*background-size: 100%;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    /*font-weight: 400;*/
    /*height: 100%;*/
    color: #ffffff;


    /*linear-gradient(transparent 10%, black 50%) 30% 100%, url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg") no-repeat 0% 50%*/

    /*width: 100%;*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-size: auto 50%;*/

    /*background-image: -webkit-linear-gradient(transparent,*/
    /*black 30%), url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg"); !* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 *!*/
    /*background-image: -moz-linear-gradient(transparent,*/
    /*black 30%), url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg"); !* For Firefox (3.6 to 15) *!*/
    /*background-image: -o-linear-gradient(transparent,*/
    /*black 30%), url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg"); !* For old Opera (11.1 to 12.0) *!*/
    /*background-image: linear-gradient(transparent,*/
    /*black 30%), url("../images/assets_SuperMovie_Homepage_simple_2019-10-18-2/img-interstellar.jpg"); !* Standard syntax; must be last *!*/
    /*background-repeat: no-repeat, no-repeat;*/
    /*background-origin: content-box;*/
    /*background-position-y: 100%, 0;*/
    /*background-size: 100% 80%, auto 50%;*/

    /*background-position: bottom;*/
    /*background-position: top;*/
    /*background-size: auto 100%;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    /*font-weight: 400;*/
    /*height: 100%;*/
    /*color: #ffffff;*/

}



h2 {
    margin: 0;
}


/*///////// TODO inheriter color et mettre le Fira ds le body*/

/*PAGE*/
header, .page, footer {
    padding-left: 10%;
    padding-right: 10%;
}

.page {
    display: flex;
}


/*HEADER**************************/

/*NAVBAR*/

.navbar {
    padding: 0;
    padding-top: 25px;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(100%);
}

.navbar-brand {
    width: 163px;
    height: 65px;
    display: flex;
    justify-content: center;
}
.navbar-brand img {
    width: 100%;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f7b436;
}

/*LOGO BLABLAMOVIE*/
.logo {
    width: 163px;
    height: 65px;
    object-fit: contain;
}

.logo>.navbar-brand img {
    position: relative;
}


/*TODO: Rendre transparent le hover quand on clique sur la loupe de recherche .search-logo*/
/*TODO: Effacer le RECHERCHER dans la search bar*/
/*SEARCH BUTTON*/
.search-logo {
    width: 14px;
    height: auto;
    filter: invert(100%);
}

.search-logo:hover {
    background-color: transparent;
}

.btn-outline-success {
    border: none;
}

.btn-outline-success:hover {
    background: none;
}

.form-inline {
    margin-right: 0;
    background-color: transparent;
}

.form-control {
    background-color: transparent;
    border: transparent;
}

.form-control:hover {
    background-color: transparent;

}

    /*CONTENT*/
.page{
    display: none;
    flex-direction: column;
    align-items: stretch;
}


#bandeau-presentation {

}

#bandeau-presentation h1 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}
#bandeau-presentation h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 200;
}
#bandeau-presentation p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    line-height: 36px;
    letter-spacing: normal;
}

.yellow-line {
    width: 4px;
    height: 60px;
    border-radius: 2px;
    background-color: #f7b436;
    margin-top: 8px;
    margin-right: 15px;
}

.hook-line {
    display: flex;
    position: relative;
}
.hook-p {
    width: 356px;
}


/*TODO : ARRANGER LE SPASH*/
.splash {
    /*width: 523px;*/
    /*height: 240px;*/
    object-fit: contain;
    /*background-image: linear-gradient(247deg, #fcdb66 78%, #f7b436 20%);*/
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-top: -21px;
    position: relative;
    z-index: 3;
    color: #1b1b1d;

}

.splach img {
    /*margin-top: 15%;*/
    /*position: absolute;*/
    /*z-index: 3;*/
    width: 523px;
}

    /*Timer*/
.timer-container {
    position: absolute;
    width: 523px;
    align-self: center;
    right: 5%;
}

.timer-num-container {
    display: flex;
    /*justify-content: space-around;*/
    justify-content: space-between;
    padding: 0 10% 0 10%;
}

.fond-timer {
    width: 42.1px;
    height: 54.7px;
    border-radius: 3.4px;
    background-color: rgba(27, 27, 29, 0.1);
}

.jours, .heures, .minutes {
    display: flex;
    flex-direction: column;
}

.jours p, .heures p, .minutes p {
    /*width: 42px;*/
    /*height: 45px;*/
    /*line-height: 45px;*/
    /*line-height: 100%;*/
    text-align: center;
    /*padding: 25px 10px 25px 10px;*/
}

.jours-num, .heures-num, .minutes-num {
    display: flex;
    justify-content: space-between;
}


/*TODO: Ajuster le compteur avec son bg */
.jours-num p, .heures-num p, .minutes-num p {
    width: 42px;
    height: 45px;
    line-height: 45px;
    /*line-height: 100%;*/
    background-color: rgba(27, 27, 29, 0.1);
    border-radius: 3.4px;
    /*padding: 25px 10px 25px 10px;*/
}

/*Page 2**********************/

.loading {
    position: absolute;
    z-index: 2;
    justify-content: center;
}

#movies-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    position: relative;
    margin-top: -5em;
    z-index: 4;
}

.movie_item{
    width: 30%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

@media screen and (max-width: 900px) {
    .movie_item {
        width: 45%!important;
    }
}

@media screen and (max-width: 600px) {
    .movie_item {
        width: 90%!important;
    }
}

.movie_item:not(movie_year){
    width: 30%;
    max-height: 80%;
    color: #1b1b1d;
    text-align: center;

}

.poster {
    display: block;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.movie_year {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 1rem ;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    text-shadow: 1px 1px 2px #000000;
    align-content: flex-end;
    bottom: 0;

}

.movie_title {
    background: border-box #ffffff;
    border-radius: 0 0 4px 4px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    width: 100%;
    height: 4em;
    padding-top: 1.5em;
    padding-left: 1em;
    text-align: left;
}

.m_view {
    display: flex;
    flex-direction: column;
    position: relative;
}

.page-content {
    /*margin-top: -135px;*/
    margin-top: -23px;
    /*position: absolute;*/
    z-index: 3;
    color: #f2f2f2;

}
.m_info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.m_order {
    position: absolute;
    width: 60px;
    height: 40px;
    border-radius: 0 100px 100px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 11px 0 rgba(0, 0, 0, 0.14);
    background-color: #f2f2f2;
    z-index: 1;
    top: 15%;
    left: 0;

    /*TODO: faire le count automatique du classement des films et l'incrémentation dynamique du nombre de votes par films et le nombre de votes total'*/
/*    counter-reset: section;*/
}

.orderNb{
    position: absolute;
    right: 50%;
    top: 15%;
    width: 14px;
    height: 37px;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1b1b1d;


    /*counter-increment: section;*/
    /*content:  counter(section);*/

}


.m_votes {
    position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;
    z-index: 1;
    right: 0;
    left: auto;
    top: -20px;

}

.m_votes:checked {
    background-color: #f7b436;
}

.like {
    left: 10%;
    top: 20%;
    width: 40px;
    position: absolute;
}

.likeNb {
    right: 15%;
    top: 20%;
    position: absolute;
    color: #1b1b1d;
}



    /*PAGINATION*/

.page-item:first-child .page-link {
    border-radius: 16px 18px;
}

.page-item:last-child .page-link {

    border-radius: 16px 18px;

}

.spanDot {
    color: #f2f2f2;
}


/*Page 3 : Historique*******************/
#page-3 {
    color: white;
}

/*Page 4 : Connexion*******************/
#page-4 {
    color: white;
}



/*Page 5 : Inscription*******************/

#page-5 {
    color: white;
}

/*Page 6 : A propos*******************/
#page-6 {
    color: white;
}

/*Page 7 : Accueil Connecté*******************/
#page-7, #popup-connexion {
    color: white;
}
#popup-connexion {
    z-index: 1;
}

/*Page 8 : Contact*******************/
#page-8 {
    color: white;
}

/*Page 9 : Validation inscription*******************/
#page-9, #popup-inscription {
    color: white;
}
#popup-inscription {
z-index: 1;
}

/*Page 10 : ERREUR 404*******************/
#page-10 {
    color: #f7b436;
}




/*Page 11 : Validation inscription*******************/




/*FOOTER**********************/
footer {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 10em;*/
}


footer .navbar .navbar-nav .nav-link {
    color: rgba(193, 193, 193, 0.57)
}

/*TODO: Envlever le menu burger dans la nav du footer quand on rétrécit l'écran'*/
/*footer.navbar-light .navbar-toggler-icon {*/
/*    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");*/
/*}*/
.collapse:not(.show) {
    display: flex;
}


.logos-medias {
    width: 14px;
    display: flex;
    flex-grow: 0.3;
    justify-content: space-between;
}

.logo-medias img:hover {
    opacity:0.7;
    background-color: #f7b436;
    border-radius: 10px;

}

a.page-link {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
}

a#pagelinkprev, a#pagelinknext {
    border-radius: 16px / 18px;
    margin: 0 2em 0 2em;
}


a.page-link:hover {
    border-color: #000;
    border-radius: 16px / 18px;
    background-color: #000000;
    color: #f7b436;
}


/*CONNEXION INSCRIPTION BUTTONS*/
.button, #button-logout {
    width: 75px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.button-connexion, .btn_login {
    color: #f7b436;
    width: 120px;
    height: 36px;
    border-radius: 20px;
    border: solid 2px #f7b436 ;
    background-image: linear-gradient(to top, #1b1b1d 63%, rgba(0, 0, 0, 100))
}

.button-connexion:hover, .btn_login:hover {
    color: #000000;
    background-image: none;
    background-color: #f2f2f2;
    border: transparent;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}


.button-connexion:active, .btn_login:active {
    color: #000000;
    background-image: none;
    background-color: #f2f2f2;
    border: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-inscription, .btn_inscription {
    color: #ffffff;
    width: 130px;
    height: 36px;
    border-radius: 20px;
    background-color: #f7b436;
    border: transparent;
}

.button-inscription:hover, .btn_inscription:hover {
    color: #000000;
    background-color: #f2f2f2;
    border: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.button-inscription:active, .btn_inscription:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: #000000;
    background-color: #f2f2f2;
    border: transparent;
}




/*Page 6 :  propos*******************/
#page-6 {
   display: flex;
}
/*Page 7 : Accueil connecté*******************/

/*Page 8 : Contact*******************/
#page-8 h2, #page-8 p, #page-8 label {
    color: #f2f2f2;
}

/*TODO: Ajuster en largeur  la ligne de border top de la footbar*/
/*FOOTBAR**********************/
#footlink {
    border-top: rgba(193, 193, 193, 0.57) solid;
    border-top-width: thin;
    margin-top: 4em;
    margin-bottom: 2em;
    width: 100%;
}



#footlink>.logo>.navbar-brand img {
    width: 126px;
    height: 51px;
    object-fit: contain;
}




/*FLATICON*/
#flaticon {
    font-size: 9px;
    text-align: right;
    color: #f2f2f2;
}





/*****************POPUP*/



/*****************POPUP-CONNECTE(E)*/
.popup {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    height: 100%;
}

.popup:after {
    content: '';
    display: block;

}

.popup.popup-active {
    display: flex;
}

/*.popup > div {*/

/*}*/


.popup-content {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: white;
    border-radius: 7px;
    z-index: 1;
    color: black;
    width: 35%;
    height: 75%;
    /*justify-content: space-between;*/
    overflow: auto;
    padding: 0px 25px 25px;
    position: relative;
}


.topline {
    height: 3px;
    width: 40%;
    display: block;
    background: #f7b436;
    /*margin: auto;*/
    margin: 0 0 0 25%;
    position: absolute;
}


.popup-close {
    border: none;
    background: none;
    object-fit: contain;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.popup-close:hover {
    transform: translateY(4px);
}

.popup-close:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}





.close-content {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.connexion-form {
    border-bottom-width: 0px;
    border-bottom-style: solid;
    margin-bottom: 40px;
    margin-top: -15px;
    border-top-width: 0px;
    border-top-style: solid;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
}

.btn_form {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
}

#connexionForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn_login, .btn_inscription2 {
    color: #ffffff;
    width: 130px;
    height: 36px;
    border-radius: 20px;
    background-color: #f7b436;
    border: transparent;
    background-image: none;
}

.btn_login:hover, .btn_inscription2:hover {
    color: #000000;
    background-color: #f2f2f2;
    border: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background-image: none;
}


.btn_login:active, .btn_inscription2:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: #000000;
    background-color: #f2f2f2;
    border: transparent;
    background-image: none;
}


.btn_inscription, .btn_login2 {
    color: #1b1b1d;
    background: none;
    width: 120px;
    height: 36px;
    border: transparent;
    border-radius: 20px;
}

.btn_inscription:hover, .btn_login2:hover {
    color: #1b1b1d;
    background-image: none;
    background-color: #f2f2f2;
    border: transparent;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
    border-radius: 20px;
}


.btn_inscription:active, .btn_login2:active {
    color: #1b1b1d;
    background-image: none;
    background-color: #f2f2f2;
    border: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border-radius: 20px;
}

input {
 border-top: none;
 border-right: none;
 border-bottom: #b9bfce 1px solid;
 border-left: none;
}


/*************/

.active {
    color: #f7b436 !important;
    font-weight: bold;
}







/*!*MESSAGE D'ERREUR*/
/*    https://developer.mozilla.org/fr/docs/Web/Guide/HTML/Formulaires/Validation_donnees_formulaire*/
/**!*/
/*!* Voici notre composition pour les champs invalides *!*/
/*input:invalid{*/
/*    border-color: #900;*/
/*    background-color: #FDD;*/
/*}*/

/*input:focus:invalid {*/
/*    outline: none;*/
/*}*/

/*!* Voici la mise en forme pour les erreurs *!*/
/*.error {*/
/*    width  : 100%;*/
/*    padding: 0;*/

/*    font-size: 80%;*/
/*    color: white;*/
/*    background-color: #900;*/
/*    border-radius: 0 0 5px 5px;*/

/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*.error.active {*/
/*    padding: 0.3em;*/
/*}*/
/*!*FIN MESSAGE*!*/



